.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: auto;
}

.menu {
  margin-right: 10px;
}


.mat-drawer-side {
  border-right: 0px;
}

.mat-sidenav::-webkit-scrollbar {
  width: 10px;
  overflow-y: hidden;
  height: 100px;
  background-color: #3f51b5;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav::-webkit-scrollbar-thumb {
  background: #3f51b5;
  overflow-y: hidden;
}

.mat-sidenav::webkit-scrollbar-thumb {
  background: #3f51b5;
  overflow-y: hidden;
}

.ativo {
  background-color: rgb(184, 184, 184);
  border-radius: 5px;
  color: white;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

mat-list-item :hover {
  transition-duration: 0.2s;
  transform: scale(1.2);
}

.page-content {
  padding: 10px !important;
  background-color: #f2f2f2 !important;
  min-height: calc(100vh - 84px);
}
