<mat-toolbar style="z-index: 99999;"  color="primary">

  <mat-toolbar-row>
    <button class="menu" (click)="drawer.toggle()" mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <mat-chip-list *ngIf="valorConta" aria-label="Fish selection">
      <mat-chip color="warn" selected>R${{valorConta}}</mat-chip>
    </mat-chip-list>
    <mat-progress-spinner style="margin-right: 30px;" diameter="25" *ngIf="!valorConta" class="example-margin"
      color="warn" mode="indeterminate">
    </mat-progress-spinner>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings_application</mat-icon>
        <span>Configurações</span>
      </button>
      <button mat-menu-item>
        <mat-icon>print</mat-icon>
        <span>Imprimir</span>
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>Informação</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

</mat-toolbar>


<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened="true" id="drawer" class="example-sidenav" mode="side">

    <mat-list role="list">
      <mat-list-item role="listitem">
        <button  [ngClass]="{ativo: itemSelecionado === 1}" routerLink="/dashboard" matTooltip="Dashboard"
          matTooltipPosition="after" color="accent" mat-icon-button>
          <mat-icon>dashboard</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button  [ngClass]="{ativo: itemSelecionado === 3}" [ngClass]="{ativo: teste}" routerLink="/cadastro"
          matTooltip="cadastro" matTooltipPosition="after" color="accent" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button  [ngClass]="{ativo: itemSelecionado === 4}" routerLink="/relatorio" matTooltip="Relatório"
          matTooltipPosition="after" color="accent" mat-icon-button>
          <mat-icon>insert_chart</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button  [ngClass]="{ativo: itemSelecionado === 2}" routerLink="/configuracao" matTooltip="Configuração"
          matTooltipPosition="after" color="accent" mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
          <button  [ngClass]="{ativo: itemSelecionado === 5}" routerLink="/info" matTooltip="Informação"
            matTooltipPosition="after" color="accent" mat-icon-button>
            <mat-icon>info</mat-icon>
          </button>
        </mat-list-item>
    </mat-list>

  </mat-drawer>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
