<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <mat-card>
        <renda-grafico-gastos></renda-grafico-gastos>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card>
        <renda-grafico-gastos-mensal></renda-grafico-gastos-mensal>
      </mat-card>
    </div>

    <div class="col-lg-4">
      <mat-card>
        <renda-grafico-gastos></renda-grafico-gastos>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <renda-tabela-gastos></renda-tabela-gastos>
    </div>
  </div>
</div>
